




* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    margin: auto;
    color: white;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.container-1 {
    max-width: 1500px;
    margin: auto;
    color: white;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    max-width: 1400px;
    font-weight: 600;
    margin-left: 45px;
    border-bottom: 2px solid white;
}

.logo img {
    width: 100px;
}

.left-nav a {
    padding: 10px;
    justify-content: space-between;
    visibility: visible;
}

.right-nav {
    margin-left: 448px;
}

.right-nav a {
    padding-left: 10px;
    font-size: 13px;
}

.location {
    visibility: visible;
}

.more {
    visibility: hidden;
}

a i {
    padding: 6px;
    font-size: 20px;
    font-weight: 100;
}

.bg-car {
    background-image: url(BMW-Cars-Computer-Wallpaper\ pc.jpg);
    padding-bottom: 60px;
}

.top {
    margin-left: 45px;
}

.title {
    font-size: 40px;
}

.title-2 {
    font-size: 23px;
    color: rgb(236, 231, 231);
}

.offers {
    margin-top: 40px;
    margin-bottom: 50px;
}

.offers-1 {
    padding: 20px 70px 20px 70px;
    background-color: rgb(39, 104, 208);
    font-weight: 600;
    border-radius: 4px;
}

.offers-1:hover {
    background-color: rgb(21, 81, 177);
    transition: 0.3s ease;
}

.offers-2 {
    padding: 20px 70px 20px 70px;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 3px;
    margin-left: 10px;
}

.cgi {
    color: rgb(236, 231, 231);
    margin-left: 10px;
}

.top-last {
    margin-top: 300px;
}

.counts {
    margin-left: 50px;
}

.counts a {
    font-weight: 600;
    padding: 10px 14px 10px 14px;
}

.counts a:hover {
    color: rgb(39, 104, 208);
}

.top-2 {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(248, 248, 248);
}

.top-2 img {
    width: 650px;
    height: 380px;
}

.top-2 a {
    border-bottom: 2px solid rgb(236, 231, 231);
    color: rgb(236, 231, 231);
    font-size: 14px;
    font-weight: 600;
}

.top-2 a:hover {
    color: white;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

.specifications {
    font-size: 25px;
}

.first {
    padding-top: 60px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.second {
    padding-top: 60px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.all-letters-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1285px;
    padding-left: 40px;
    margin-top: -515px;
}

.all-letters-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1375px;
    padding-left: 40px;
    margin-top: 375px;
}

.middle {
    margin-top: 100px;
    color: black;
    background-color: rgb(248, 248, 248);
    padding-bottom: 100px;
    width: 100%;
}

.title-3 {
    color: black;
    font-size: 30px;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.cars {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    padding-left: 60px;
}

.cars img {
    width: 300px;
    height: 200px;
}

.blue {
    margin-top: -40px;
}

.details a {
    color: black;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid rgb(43, 43, 43);
    padding-bottom: 2px;
}

.details a:hover {
    color: rgb(87, 90, 90);
    border-bottom: 2px solid rgb(87, 90, 90);
}

.details {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    margin-top: -30px;
}

.details p {
    font-size: 22px;
    color: rgb(68, 72, 72);
    margin-bottom: 10px;
}

.car-1 {
    margin-left: -25px;
}

.car-2 {
    padding-left: 45px;
}

.car-3 {
    padding-left: 15px;
}

.car-4 {
    padding-left: 40px;
}

.build {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.build a {
    background-color: rgb(34, 34, 34);
    padding: 10px 25px 10px 25px;
}

.build a:hover {
    background-color: rgb(68, 72, 72);
    transition: 0.3s ease;
}

.middle-2 {
    background-image: url(car-4k.jpg);
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.middle-2 div {
    display: flex;
    align-items: center;
    margin-top: 300px;
}

.learn {
    padding: 20px 50px 20px 50px;
    background-color: rgb(248, 248, 248);
    color: black;
    font-weight: 600;
}

.title-4 {
    padding: 20px 0px 50px 0px;
    font-size: 20px;
}

.learn:hover {
    background-color: rgb(236, 231, 231);
}

.middle-3 {
    color: black;
    background-color: rgb(255, 255, 255);
    padding-top: 80px;
}

.topic {
    font-size: 25px;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
}

.info {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(194, 191, 191);
}

.info i {
    font-size: 60px;
    color: rgb(39, 104, 208);
    padding-bottom: 30px;
}

.info p {
    display: flex;
    justify-content: space-around;
    line-height: 25px;
    color: rgb(38, 38, 38);
}

.info a {
    display: flex;
    justify-content: space-around;
    color: rgb(44, 43, 43);
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid rgb(44, 43, 43);
    padding-top: 20px;
    align-items: center;
}

.info a:hover {
    color: rgb(92, 93, 93);
    border-bottom: 1px solid rgb(92, 93, 93);
}

.info a i {
    color: rgb(44, 43, 43);
    font-size: 16px;
    margin-bottom: -20px;
}

.trade a i {
    margin-left: -100px;
}

.credit a i {
    margin-left: -150px;
}

.finance a i {
    margin-left: -140px;
}

.connected a i {
    margin-left: -160px;
}

.main {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.bottom {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 30px 0px 30px 80px;
}

.bottom div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
}

.bottom a {
    color: rgb(41, 40, 40);
    font-weight: 600;
}

.bottom a:hover {
    color: rgb(39, 104, 208);
}

.bottom p {
    color: rgb(96, 94, 94);
    font-size: 13px;
}

.bottom-1 {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px 0px 80px;
    color: black;
    background-color: rgb(245, 246, 243);
}

.bottom-1 div a {
    display: block;
    line-height: 40px;
    color: rgb(54, 54, 54);
    font-weight: 600;
}

.bottom-1 div a:hover {
    color: rgb(39, 104, 208);
}

.bottom-1 div p {
    color: rgb(96, 94, 94);
    font-size: 13px;
    padding-bottom: 16px;
}

.bottom-2 {
    background-color: rgb(245, 246, 243);
    padding: 100px 80px 80px 70px;
}

.bottom-2 i {
    color: rgb(34, 34, 34);
    padding-left: 20px;
}